@import "variables";
@import "keyframes";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  font-size: 10px;
}

body {
  color: $dark;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;

  padding: 0;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
}

.header {
  padding: 33px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1232px;
  margin: 0 auto;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  &__item {
    margin: 0px 0px 0px 4.4rem;
    &:first-child {
      margin: 0px 0px 0px 0px;
    }
    &:last-child {
      margin: 0px 0px 0px 2.6rem;
    }
  }

  &__link {
    color: $dark;
    text-decoration: none;
    padding: 2rem;
    transition: all 0.3s ease;
    &:hover {
      color: $purple;
    }
  }
  &__btn {
    font-size: 1.4rem;
    background: $purple;
    color: $white;
    padding: 1.6rem 2.6rem;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0rem 0rem 2rem 0.1rem $purple;
    }
  }
}
.mainblock {
  text-align: center;
  background: $dark;
  padding: 60px 0px 757px 0px;
  position: relative;

  &__text {
    max-width: 570px;
    margin: 0 auto 4.8rem;
  }
  &__title {
    font-size: 5.5rem;
    line-height: 6.4rem;
    letter-spacing: 0.056rem;
    color: $white;
    font-weight: 400;
    margin: 0 0 2.6rem 0;
    animation: fade-up 2s ease;
  }

  &__subtitle {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.018rem;
    color: rgba(255, 255, 255, 0.7);
    animation: fade-up2 4s ease 1 normal none;
  }

  &__btn {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $white;
    padding: 1.5rem 3.7rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.6rem;
    margin: 0 0.6rem;
    text-align: center;
    font-weight: 400;
    transition: all 0.3s ease;
    animation: fade-up3 5s ease 1 normal none;
    &:hover {
      background: $white;
      color: $purple-dark;
      box-shadow: 0rem 0rem 2rem 0.1rem $white;
    }
  }

  &__btn-purple {
    background-color: $purple;
    border: 1px solid $purple;
    font-size: 1.5rem;
    line-height: 2.3rem;
    padding: 1.6rem 3.8rem;
    &:hover {
      box-shadow: 0rem 0rem 2rem 0.1rem $purple;
      border: 1px solid $purple;
      background-color: $purple;
      color: $white;
    }
  }

  &__img {
    position: absolute;
    bottom: -170px;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: fade-up3 7s ease 1 normal none;
    max-width: 100%;
  }
}

.price {
  padding: 21rem 0 6.5rem 0;

  &__title {
    max-width: 609px;
    margin: 0 auto 5.8rem;
    text-align: center;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: $dark;
  }
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10rem;
  &-item {
    flex: 0 0 32%;
    &-01 {
      .block-header {
        background: url(../img/price-01.svg) 0 0 no-repeat;
      }
      .block-footer {
        background: rgba(16, 10, 48, 0.03);
      }
      .block-list__item {
        &::before {
          background: url(../img/check-01.svg) 0 0 no-repeat;
        }
      }
    }
    &-02 {
      .block-header {
        background: url(../img/price-02.svg) 0 0 no-repeat;
      }
      .block-info__title {
        color: rgba(25, 199, 135, 1);
      }
      .block-footer {
        background: rgba(25, 199, 135, 0.05);
      }
      .block-list__item {
        &::before {
          background: url(../img/check-02.svg) 0 0 no-repeat;
        }
      }
    }
    &-03 {
      .block-header {
        background: url(../img/price-03.svg) 0 0 no-repeat;
      }
      .block-info__title {
        color: rgba(255, 159, 28, 1);
      }
      .block-footer {
        background: rgba(252, 185, 52, 0.05);
      }
      .block-list__item {
        &::before {
          background: url(../img/check-03.svg) 0 0 no-repeat;
        }
      }
    }
  }
  &-header {
    padding: 10rem 0 0 0;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: $dark;
    color: $white;
    padding: 4rem 3.6rem 3.5rem 3rem;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4.5rem;
      background: url(../img/item.svg) no-repeat;
      position: absolute;
      top: -4.5rem;
      left: 0;
    }
    &__title {
      font-size: 2.4rem;
      line-height: 2.4rem;
      font-weight: 400;
      margin: 0;

      &::before {
        content: "";
        display: block;
        width: 6.1rem;
        height: 1.6rem;
        background: url(../img/logo-white.svg) 0 0 no-repeat;
        margin-bottom: 1.3rem;
      }
    }

    &__cost {
      font-size: 4.8rem;
      line-height: 5.6rem;
      margin: 0;
      span {
        font-size: 1.5rem;
        line-height: 3.2rem;
        text-align: right;
      }
    }
  }
  &-footer {
    padding: 2.4rem;
    border-radius: 0 0 0.8rem 0.8rem;
  }
}

.block-list {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $dark;
  &__item {
    position: relative;
    padding: 0 0 0 3rem;
    margin: 0 0 1.2rem 0;

    &::before {
      content: "";
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.review {
  margin: 2rem 0 12.1rem 0;

  &__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 90rem;
  }

  &__item {
    max-width: 51.6rem;
    margin: 0 0 4rem 0;

    border-radius: 0.8rem;
    padding: 4rem;

    &-title {
      max-width: 37.5rem;
      padding: 4rem 0 4rem 0;
    }

    &-01 {
      background: #e8e5fb;
      margin-right: 4rem;
      .review-header__user {
        background: url(../img/user-01.png) 0 0 no-repeat;
      }
    }
    &-02 {
      background: #e8faf3;
      .review-header__user {
        background: url(../img/user-02.png) 0 0 no-repeat;
      }

      .review__text {
        margin: 0;
      }
    }
    &-03 {
      background: #fdebee;
      .review-header__user {
        background: url(../img/user-03.png) 0 0 no-repeat;
      }
      .review__text {
        margin: 0;
      }
    }
    &-04 {
      background: #e6f3ff;
      .review-header__user {
        background: url(../img/user-04.png) 0 0 no-repeat;
      }
    }
    &-05 {
      background: #fff5e1;
      .review-header__user {
        background: url(../img/user-05.png) 0 0 no-repeat;
      }
      .review__text {
        margin: 0;
      }
    }
  }

  &__title {
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: $dark;
  }

  &__text {
    max-width: 50.3rem;
    font-size: 1.7rem;
    line-height: 3rem;
    letter-spacing: 0.018rem;
    color: #4c4764;
    margin: 0 0 2rem 0;
  }
}

.review-header {
  display: flex;
  margin-bottom: 3.6rem;
  justify-content: space-between;
  &__user {
    position: relative;
    padding-left: 6.4rem;
    &::before {
      content: "";
      display: block;
      width: 4.8rem;
      height: 4.8rem;
      position: absolute;
      top: -0.5rem;
      left: 0;
    }
  }

  &__link {
    &-username {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 700;
      color: $dark;
    }

    &-usernickname {
      display: block;
      margin: 0;
      font-size: 1.5rem;
      line-height: 2.4rem;
      color: #4c4764;
    }
  }

  &__logo {
    opacity: 0.08;
    margin-bottom: 1.5rem;
  }
}

.review-footer {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $dark;
}

footer {
  background: #f8f8f9;
  padding: 5.8rem 0;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-contacts {
  max-width: 21.2rem;

  &__tagline {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.018rem;
    color: #4c4764;
    margin-bottom: 2.4rem;
  }
}
.footer-socilas {
  &__link {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 2.1rem;
    transition: all 0.3s ease;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.5);
    }
  }
}
.footer-features {
  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $dark;
    margin-bottom: 1.2rem;
  }

  &__item {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #4c4764;
    margin-bottom: 0.6rem;
    transition: all 0.3s ease;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $purple;
    }
  }
}
.footer-about {
  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $dark;
    margin-bottom: 1.2rem;
  }

  &__item {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #4c4764;
    margin-bottom: 0.6rem;
    transition: all 0.3s ease;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $purple;
    }
  }
}
.footer-resources {
  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $dark;
    margin-bottom: 1.2rem;
  }

  &__item {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #4c4764;
    margin-bottom: 0.6rem;
    transition: all 0.3s ease;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $purple;
    }
  }
}

@import "breakpoints";
